<div class="content">
  <div class="ui feed">
    <div class="event">
      <div class="content">
        <p><strong><i><%= message.user.username %>:</i> <%= message.body %></strong></p>
      </div>
    </div>
  </div>
</div>
